USE [master]
GO
/****** Object:  Database [QLSVNhom]    Script Date: 21/09/2020 11:53:05 AM ******/
CREATE DATABASE [QLSVNhom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSVNhom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLSVNhom.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSVNhom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QLSVNhom_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSVNhom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSVNhom]
GO
/****** Object:  Table [dbo].[BANGDIEM]    Script Date: 21/09/2020 11:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGDIEM](
	[MASV] [varchar](20) NOT NULL,
	[MAHP] [varchar](20) NOT NULL,
	[DIEMTHI] [varbinary](256) NOT NULL,
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC,
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCPHAN]    Script Date: 21/09/2020 11:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCPHAN](
	[MAHP] [varchar](20) NOT NULL,
	[TENHP] [nvarchar](100) NOT NULL,
	[SOTC] [int] NULL,
 CONSTRAINT [PK_HOCPHAN_1] PRIMARY KEY CLUSTERED 
(
	[MAHP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 21/09/2020 11:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [varchar](20) NOT NULL,
	[TENLOP] [nvarchar](100) NOT NULL,
	[MANV] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 21/09/2020 11:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[EMAIL] [varchar](20) NULL,
	[LUONG] [varbinary](256) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
	[PUBKEY] [varchar](20) NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 21/09/2020 11:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MASV] [varchar](20) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](200) NULL,
	[MALOP] [varchar](20) NULL,
	[TENDN] [nvarchar](100) NOT NULL,
	[MATKHAU] [varbinary](256) NOT NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MASV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BANGDIEM] ([MASV], [MAHP], [DIEMTHI]) VALUES (N'SV01', N'BASIC2', 0xBC35D39C51502410AEAF02B35D56039439FCC61011ECCB6442214E5615AA3FBBAAE395A44A1B892D1009EFA91B725020F9697627DDE1CA733DF67DEEE677ADBD4A1816F1BBF76AE9C97DB819ED185B630B1F0C296BC920D71863F4B7C4A667F1B3BECCEEE9A20E7B7F2897E00166B45B786DCC7BDF6025D33F85B2C205258633)
INSERT [dbo].[BANGDIEM] ([MASV], [MAHP], [DIEMTHI]) VALUES (N'SV01', N'INT1331', 0x967BADADCF0941805541400D619BA8F22178EF3393ED5458AF7B704AF90FCB8D9D8E3E4D67CC30EFF2E01EE6DA1711B79D33E9960B16C9A4E9489A0F6643975DE92F42DA903875C6D3C9F928038178CAF55B64995910CFD273AFE60C44B601E7216C8EB4267D1F2359BBEC1A6E7FCE7B5A43DEC5043CBE86C9BB3736F6203B72)
INSERT [dbo].[BANGDIEM] ([MASV], [MAHP], [DIEMTHI]) VALUES (N'SV01', N'INT1332', 0x212CD6F1079AB7B0F14516A5638B9BC77C794C636A2BA763303998C0A9868231C20D48C84130BD7AF7E9685F552906AC199C6C19EA91C150DFB7ADCE31EE7531D08A59AA30239F740ED67385288F429C942B93C08DE09C94CB421F65CA5C9F2D9385F55AF732FF89E8D726A45378233A6920AA71E609ACD06864C63217AAC523)
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'BASIC2', N'Chu nghia Mac-Le-nin', 4)
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'INT1331', N'Mat ma hoc', 3)
INSERT [dbo].[HOCPHAN] ([MAHP], [TENHP], [SOTC]) VALUES (N'INT1332', N'Huong doi tuong', 3)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'D17AT01', N'An Toan Thong Tin 2017', N'NV01')
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MANV]) VALUES (N'D18QT01', N'Quan Tri Kinh Doanh 2018', N'NV02')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [PUBKEY]) VALUES (N'NV01', N'NGUYEN VAN A', N'nva@yahoo.com', 0x4D7432A2517275232F7FEE8B92EA680CF4603AE9ED59507787C8FD7891BD07E7DCB64737EE0C1BFEDAC798EBCE0ABF79A926909DF0C2E555DA05E7CE41245FE200BD3108651002505C40F0A5E976CDA5BDAEC865352C87BB3F91AFCC0F686F3A761020A9C5C4E13AD067F4A4BEB37C5126040DDCD4867D6D55E33C5225ABB4BB, N'NVA', N'|J	Ê7b¯aå• ”=Âd”ø”', N'NV01')
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [EMAIL], [LUONG], [TENDN], [MATKHAU], [PUBKEY]) VALUES (N'NV02', N'NGUYEN VAN B', N'nvb@yahoo.com', 0x2CACB028B67A3DA6F9B28E5F7110821010F7A4D2F96CED08B0466F7E8D56A518BFCAFA62895285CC57CF30365B1323707577B05D0416A3ABA24F6B427884E4772FA00C8CC6AA41A2568CD778111ED234145ECAB7FB8217061B861E843B4E7E8E922CBD0DF133C0E7598E07E70CB382F678E9646FFF84FCE88B4F7AB4F4E38F3C, N'NVB', N'|J	Ê7b¯aå• ”=Âd”ø”', N'NV02')
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV01', N'NGUYEN VAN A', CAST(N'1990-01-01 00:00:00.000' AS DateTime), N'280 AN DUONG VUONG', N'D17AT01', N'SV01', 0xE10ADC3949BA59ABBE56E057F20F883E)
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV02', N'TRAN THI B', CAST(N'1990-02-02 00:00:00.000' AS DateTime), N'27 HUNG VUONG', N'D17AT01', N'SV02', 0xE10ADC3949BA59ABBE56E057F20F883E)
INSERT [dbo].[SINHVIEN] ([MASV], [HOTEN], [NGAYSINH], [DIACHI], [MALOP], [TENDN], [MATKHAU]) VALUES (N'SV03', N'LE VAN C', CAST(N'1990-03-03 00:00:00.000' AS DateTime), N'97 MAN THIEN', N'D17AT01', N'SV03', 0xE10ADC3949BA59ABBE56E057F20F883E)
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEM_HOCPHAN] FOREIGN KEY([MAHP])
REFERENCES [dbo].[HOCPHAN] ([MAHP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_HOCPHAN]
GO
ALTER TABLE [dbo].[BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEM_SINHVIEN] FOREIGN KEY([MASV])
REFERENCES [dbo].[SINHVIEN] ([MASV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_SINHVIEN]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_NHANVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_BANGDIEM]    Script Date: 21/09/2020 11:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_BANGDIEM](@MASV varchar(20),@TENHP varchar(20),@DIEMTHI varchar(20))
AS
BEGIN 
INSERT INTO BANGDIEM(MASV,MAHP,DIEMTHI)
VALUES(@MASV,(SELECT MAHP FROM HOCPHAN WHERE TENHP = @TENHP),ENCRYPTBYASYMKEY(ASYMKEY_ID('RSA_1024_LAB3'),@DIEMTHI))
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_NHANVIEN]    Script Date: 21/09/2020 11:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_INS_NHANVIEN] (
	@MANV VARCHAR(20) ,
	@HOTEN NVARCHAR(100) ,
	@EMAIL VARCHAR(20) ,
	@LUONG INT,
	@TENDN NVARCHAR(100), 
	@MATKHAU VARCHAR(32)  )
AS
BEGIN
	DECLARE @SALARY VARBINARY (256), @MK VARBINARY (256)
	SET @SALARY = ENCRYPTBYASYMKEY(ASYMKEY_ID('RSA_1024_LAB3'),CONVERT(varchar(20),@Luong))
	SET @MK = HASHBYTES('SHA1',@MATKHAU)
	INSERT INTO NHANVIEN(MANV,HOTEN,EMAIL,LUONG,TENDN,MATKHAU,PUBKEY)
	VALUES(@MANV,@HOTEN,@EMAIL,@SALARY,@TENDN,@MK,@MANV)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_SINHVIEN]    Script Date: 21/09/2020 11:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[SP_INS_SINHVIEN] (
	@MASV NVARCHAR(20) ,
	@HOTEN NVARCHAR(100) ,
	@NGAYSINH DATETIME ,
	@DIACHI NVARCHAR(200),
	@MALOP VARCHAR (20) , 
	@TENDN NVARCHAR(100), 
	@MATKHAU VARCHAR(32)  )
AS
BEGIN
	DECLARE @MK VARBINARY (256)				--có thể là 256 hoặc max đều được
	SET @MK = HASHBYTES('MD5', @MATKHAU )
	INSERT INTO SINHVIEN(MASV, HOTEN, NGAYSINH, DIACHI, MALOP, TENDN, MATKHAU)
	VALUES(@MASV, @HOTEN, @NGAYSINH, @DIACHI, @MALOP, @TENDN, @MK)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_BANGDIEM]    Script Date: 21/09/2020 11:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_BANGDIEM] (@MASV VARCHAR(20))
AS
BEGIN
SELECT BD.MAHP, HP.TENHP, CONVERT(VARCHAR(20),DecryptByASYMKEY(ASYMKEY_ID('RSA_1024_LAB3'),BD.DIEMTHI)) AS DIEMTHI
FROM BANGDIEM BD, HOCPHAN HP
WHERE HP.MAHP = BD.MAHP AND BD.MASV = @MASV
END





GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_NHANVIEN]    Script Date: 21/09/2020 11:53:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_SEL_NHANVIEN]
AS
BEGIN
	SELECT MANV, HOTEN, EMAIL, CONVERT(VARCHAR(32), DecryptByASYMKEY(ASYMKEY_ID('RSA_1024_LAB3'),LUONG)) AS LUONGCB
	FROM NHANVIEN
END
GO
USE [master]
GO
