USE [QLSVNhom]
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_BANGDIEM]    Script Date: 21/09/2020 11:49:24 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_INS_BANGDIEM](@MASV varchar(20),@MAHP varchar(20),@DIEMTHI varchar(20))
AS
BEGIN 
INSERT INTO BANGDIEM(MASV,MAHP,DIEMTHI)
VALUES(@MASV,@MAHP,ENCRYPTBYASYMKEY(ASYMKEY_ID('RSA_1024_LAB3'),@DIEMTHI))
END