USE [QLSVNhom]
GO
/****** Object:  StoredProcedure [dbo].[SP_INS_NHANVIEN]    Script Date: 21/09/2020 11:51:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_INS_NHANVIEN] (
	@MANV VARCHAR(20) ,
	@HOTEN NVARCHAR(100) ,
	@EMAIL VARCHAR(20) ,
	@LUONG INT,
	@TENDN NVARCHAR(100), 
	@MATKHAU VARCHAR(32)  )
AS
BEGIN
	DECLARE @SALARY VARBINARY (256), @MK VARBINARY (256)
	SET @SALARY = ENCRYPTBYASYMKEY(ASYMKEY_ID('RSA_1024_LAB3'),CONVERT(varchar(20),@Luong))
	SET @MK = HASHBYTES('SHA1',@MATKHAU)
	INSERT INTO NHANVIEN(MANV,HOTEN,EMAIL,LUONG,TENDN,MATKHAU,PUBKEY)
	VALUES(@MANV,@HOTEN,@EMAIL,@SALARY,@TENDN,@MK,@MANV)
END