USE [QLSVNhom]
GO
/****** Object:  StoredProcedure [dbo].[SP_SEL_BANGDIEM]    Script Date: 21/09/2020 11:51:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[SP_SEL_BANGDIEM] (@MASV VARCHAR(20))
AS
BEGIN
SELECT BD.MAHP, HP.TENHP, CONVERT(VARCHAR(20),DecryptByASYMKEY(ASYMKEY_ID('RSA_1024_LAB3'),BD.DIEMTHI)) AS DIEMTHI
FROM BANGDIEM BD, HOCPHAN HP
WHERE HP.MAHP = BD.MAHP AND BD.MASV = @MASV
END




